

/* Style the background */
body  {
  background-image: url("images/001-subtle-light-pattern-background-texture-vol5.jpg");
  
}

 /* Style the text */   
p:first-child {
  color: orangered;
} 

/* Style the table */
 tr:nth-child(even){background-color: #f2f2f2}

 